<mat-card>
  <h1>{{ btnTitulo }}</h1>

  <form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit="ngForm">
    <input type="hidden" formControlName="id" />

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Nome:</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          name="nome"
          placeholder="Insira o nome"
          required
        />
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Sobrenome:</mat-label>
        <input
          matInput
          type="text"
          formControlName="sobrenome"
          name="Sobrenome"
          placeholder="Insira o sobrenome"
          required
        />
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Idade:</mat-label>
        <input
          matInput
          type="number"
          formControlName="idade"
          name="Idade"
          placeholder="Insira a idade"
          required
        />
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Departamento:</mat-label>
        <mat-select id="departamento" formControlName="departamento" required>
          <mat-option value="RH">RH</mat-option>
          <mat-option value="Administrativo">Administrativo</mat-option>
          <mat-option value="Financeiro">Financeiro</mat-option>
          <mat-option value="Atendimento">Atendimento</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Turno:</mat-label>
        <mat-select id="turno" formControlName="turno" required>
          <mat-option value="Manha">Manha</mat-option>
          <mat-option value="Tarde">Tarde</mat-option>
          <mat-option value="Noite">Noite</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="btn-box">
      <button
        type="submit"
        [disabled]="!funcionarioForm.valid"
        mat-raised-button
        color="primary"
      >
        {{ btnAcao }}
      </button>
      <button routerLink="" mat-stroked-button>Voltar</button>
    </div>
  </form>
</mat-card>
